<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="Roboterarm_mit_Objs_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint_basis_arm1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_basis_arm1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_arm1_arm2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_arm1_arm2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_arm2_arm3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_arm2_arm3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_arm3_greifer">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_arm3_greifer']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_greifer_finger1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_greifer_finger1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_greifer_finger2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_greifer_finger2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_greifer_finger3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_greifer_finger3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
